#nav {
  background-color: #171b1f !important;
  /* border-bottom: 1px solid white; */
  box-shadow: 0px 1px 2px white;
  color: #187ab9;
}

#nav .navbar-brand {
  color: #187ab9;
  transition: 1s ease;
}

#nav .navbar-brand:hover {
  color: white;
}

#nav .btn {
  margin: 0 4px;
  font-size: 13px;
}

.nav-logo {
  height: 20px;
}
