body {
  background-color: #171b1e;
  color: #dbd9d9;
}

h1 {
  color: #28a745;
  text-align: center;
}

h3 {
  text-align: center;
  color: #9f1717;
  font-family: helvetica;
}

.jumbotron {
  padding: 4rem 2rem 0rem 2rem !important;
  margin-bottom: 0 !important;
}

.page-title {
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}

.logo {
  width: 50px;
  position: relative;
  margin-left: 10%;
  margin-top: -15px;
  animation: float 4s ease-in-out infinite;
}

.user {
  display: inline;
  margin: 0 10px;
}

.welcome-msg {
  text-align: center;
  color: #197ab4;
}


@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-10px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}
