body {
  background-color: #171b1e;
  color: #dbd9d9;
}

h1 {
  color: #dbd9d9;
  text-align: center;
}

.page-title {
  font-size: 30px;
  line-height: 60px;
}

.logo {
  width: 50px;
  position: absolute;
  margin-left: 10%;
  margin-top: -15px;
  animation: float 4s ease-in-out infinite;
}

.user {
  display: inline;
  margin: 0 10px;
}

.welcome-msg {
  text-align: center;
}


@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-10px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}
