.coin-table {
  table-layout: fixed;
  white-space: normal;
}

.coin-table thead tr {
  background: #2f0606;
}

.coin-table tr{
	background: #031a34;
}

/*  Define the background color for all the EVEN table columns  */
.coin-table tr:nth-child(even){
	background: #071f0d;
}

.align-center {
  text-align: center;
}
