.login-form {
  border: 1px solid #cbcaca;
  border-radius: 4px;
  padding: 20px;
  background-color: #092b41;
  box-shadow: 0px 0px 15px -1px #2571aa;
  margin: 0 auto;
}

.login-form button {
  float: right;
}
